<div>

    <h2>History List</h2>

    <p>Page Id: {{page_stats.page_id}}</p>
    <p>Title Id: {{page_stats.title_id}}</p>
    <p>Versions: {{page_history_length}}</p>

    <table border="1" style="border-spacing: 5px;">
        <thead>
            <th>&nbsp;</th>
            <th style="text-align:left">Version number: </th>
            <th style="text-align:left">History: </th>
        </thead>
        <tbody>
            {% for history in page_history %}
            <tr>
                <td><input type="radio" name="history" /></td>
                <td>{{history.created_date}}</td>
                <td>{{history}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>