Django==1.11
django-classy-tags==0.8.0
-e git+https://github.com/FidelityInternational/django-cms.git#egg=cms
-e git+git@github.com:FidelityInternational/djangocms-versioning.git#egg=djangocms-versioning
-e git+https://github.com/FidelityInternational/djangocms-version-locking.git#egg=djangocms-version-locking
-e git+https://github.com/divio/djangocms-text-ckeditor.git#egg=djangocms_text_ckeditor
django-formtools==2.1
django-sekizai==0.10.0
django-treebeard==4.3
djangocms-admin-style==1.2.8
html5lib==0.9999999
Pillow==5.1.0
psycopg2==2.7.4
pytz==2018.4
six==1.11.0
