<div>

    <h2>History List</h2>

    <p>Page Id: {{page_stats.page_id}}</p>
    <p>Title Id: {{page_stats.title_id}}</p>
    <p>Versions: {{page_history_length}}</p>

    <form method="POST" action="{{revert_url}}">

        {% csrf_token %}

        <table border="1" style="border-spacing: 5px;">
            <thead>
                <th>&nbsp;</th>
                <th>Version</th>
                <th style="text-align:left">Version</th>
                <th style="text-align:left">Title</th>
                <th style="text-align:left">Page</th>
                <th style="text-align:left">Placeholder</th>
                <th style="text-align:left">Plugin</th>
                <th style="text-align:left">Plugin Instance</th>
            </thead>
            <tbody>
            {% for history in page_history %}
                <tr>
                    <td><input type="radio" name="history" value="{{history.id}}" /></td>
                    <th>&nbsp;</th>
                    <td>{{history.created_date}}</td>
                    <td>{{history.title_data}}</td>
                    <td>{{history.page_data}}</td>
                    <td>{{history.placeholders}}</td>
                    <td>{{history.plugins}}</td>
                    <td>{{history.plugin_instance}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <input type="submit" />

    </form>

</div>